/* Header CSS */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-right: 4%;
  padding-left: 2%;
}

.header-logo {
  width: 50px;
  height: 40px;
  margin-right: 20px;
}

.header-logo img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.header-marquee-name {
  font-size: 100%;
  text-align: center;
  color: black;
  font-family: Roboto,'Open Sans';

}

.header-social-icons {
  display: flex;
  align-items: center;
  font-size: 34px;
  padding-top: .5rem;
}

.header-social-icons a {
  display: inline-block;
  color: green;

}

.header-social-icons a:first-child {
  margin-right: 30px;
  color: blue;
}

/* Responsive styles */

@media only screen and (max-width: 768px) {

  .header-logo {
    width: 40px;
    height: 30px;
    margin-right: 20px;
    margin-top: 0.6rem;
  }
  
  .header-logo img{
    width: 40px;
    height: 30px;
    border-radius: 100%;
  }

  .header-logo {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header-marquee-name {
    font-size: 60%;
    text-align: left;
  }

  .header-social-icons {
    font-size: 24px;
    padding-top: 0.1rem;
  }

  .header-social-icons a:first-child {
    margin-right: 0.2rem;
  }

}
