/* Map Section */
.map-section {
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 4rem;
  }
  
  .map-section h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  }
  
  iframe {
  width: 80%;
  height: 500px;
  }
  
  @media screen and (max-width: 768px) {

    .map-section {
      background-color: #fff;
      margin-bottom: 2rem;
      }    

    .map-section h2 {
    font-size: 1.5rem;
    }
    iframe {
        width: 100%;
        height: 300px;
    }
  }  