/* Slider Component */
.SliderComponentStyles {
  width: 100%;
  height: 500px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  .SliderComponentStyles {
    height: 300px;
  }
}

.sliderStyles {
  position: relative;
  height: 100%;
  width: 100%;
}

.slideStyles {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slideStyles img {
  position: absolute;
  transform: translate(-50%, 0);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.rightArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: #333;
  z-index: 1;
  cursor: pointer;
}

.leftArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: #333;
  z-index: 1;
  cursor: pointer;
}

.captionStyles {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 100%;
  z-index: 1;
}

/* Thumbnails */
.thumbnailContainer {
  margin-top: 1rem;
}

.thumbnailStyle {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

@media only screen and (max-width: 768px) {
  .thumbnailStyle {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  .captionStyles {
    font-size: 14px;
  }


}

.thumbnailStyle:hover {
  opacity: 1;
}

.thumbnailStyle.active {
  opacity: 1;
  border: 2px solid #fff;
}


